/* Reset some default styles */
body, h1, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #2b2e4a;
    color: #e84545;
    line-height: 1.6;
}

header {
    background-color: #903749;
    color: #eac435;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    font-size: 2em;
}

main {
    background-color: #53354a;
    color: #e84545;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 15px 5px #1b1a17;
}

main p {
    font-size: 1.2em;
}

footer {
    background-color: #903749;
    color: #eac435;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
